body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#Camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_gesture1 ,#result_gesture2  
{
  color: black;
}
.Gesture_class
{
  font-size: 40px;
}
.Gesture
{
  font-size:48px;
}
.heading{
  border-radius: 10px;
  font-size: 18px;
  letter-spacing: 10px;
}
